<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Library</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/iconn.png">
    <!-- Custom CSS -->
    <link href="plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>

    <!-- Preloader - style you can find in spinners.css -->

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- Main wrapper - style you can find in pages.scss -->

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <%- include('partials/header') %> 
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <%- include('partials/aside') %> 
      
        <div class="page-wrapper">
        
            <!-- Bread crumb and right sidebar toggle -->
        
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">CATEGORIES</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>        
        
            <!-- Container fluid  -->
        
            <div class="container-fluid">
                <!-- 6 Categories -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box ">
                            <h3 class="box-title">Mathematics</h3>
                            <div>
                                <a href="/books?category=Mathematics" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box ">
                            <h3 class="box-title">Computer Science</h3>
                            <div>
                                <a href="/books?category=Computer Science Science" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box ">
                            <h3 class="box-title">Statistics</h3>
                            <div>
                                <a href="/book?category=Statistics" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box ">
                            <h3 class="box-title">Information Systems</h3>
                            <div>
                                <a href="/books?category=Information Systems" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box ">
                            <h3 class="box-title">Physics</h3>
                            <div>
                                <a href="/books?category=Physics" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box ">
                            <h3 class="box-title">Chemistry</h3>
                            <div>
                                <a href="/books?category=Chemistry" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer') %> 
    </div>
    <%- include('partials/scripts') %> 
</body>

</html>